.sign
  .sign_p
    %h2 会員情報入力
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .sign_p_form
        .field
          = f.label :メールアドレス 
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          %span 必須
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :パスワード（確認）
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .text
          %h3 本人確認
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .field
          .field_topname
            = f.label :お名前（全角）
            %span 必須
            %br/
        .actions
          = f.submit "登録"
