.header
  .header__box
    .header__box-main
      %h1.icon
        = link_to "/" do
          = image_tag 'logo.png', height:'40px', width:'140px'
      .header__box-main__searchBox
        %form{"accept-charset" => "UTF-8", action: "#", method: "get"}
          %input{name: "utf8", type: "hidden", value: "✓"}/
          %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す",height: "36px",width: "575px"}/
          %button{type: "submit"}
            .searchBox__icon
              = image_tag 'icon-search 1.png', height:'20px', width:'20px'
    .header__box-bottom
      %ul.listsleft
        %li.listsleft__item--first
          = link_to "/" do
            カテゴリー
        %li.listsleft__item
          = link_to "/" do
            ブランド
      %ul.listsright
        %li.listsright__item--login
          = link_to "/users/sign_in" do
            ログイン
        %li.listsright__item--new
          = link_to "/users/sign_up" do
            新規会員登録

.navber
