.show-main
  .item-box
    .item-box__name= @item.name
    .item-box__content
      .content-area
        .content-area__main
          .content-area__main__image
            = image_tag @item.item_images[0].image.url, class: "show-item__main"
          -if @item.buyer_id.present?
            .show-item__main__sold
              .show-item__main__sold__inner SOLD
        %ul.item-img
          - @item.item_images.each do |i|
            %li.item-subimg
              = image_tag i.image.url, size: "150x110"
    .item-box__price
      .item-box__price__int
        ¥
        =@item.price
      .item-box__price__complement (税込)  送料込み
  
    - if current_user.id == @item.seller_id
      = link_to "出品した商品情報を削除する", item_path(@item), method: :delete, class: "item-delete__btn"
      = link_to "出品した商品情報を編集する",edit_item_path(@item),class: "item-delete__btn2"
    - elsif @item.buyer_id.present?
      = link_to "売り切れました", "/", class: "disabled-button bold"
    - else
      = link_to "購入画面に進む", confirm_item_path(@item), class: "item-box__btn"
    .item-box__detail
      =@item.detail
    .item-box__table
      %table
        %tbody
          %tr
            %th 出品者
            %td=@item.seller.nickname
          %tr
            %th カテゴリー
            %td
              = link_to @category.parent.parent.name, "#", class: "detail-link"
              %br/
              = link_to @category.parent.name, "#", class: "detail-link"
              %br/
              = link_to @category.name, "#", class: "detail-link"
          %tr
            %th ブランド
            %td= @item.brand
          %tr
            %th 商品のサイズ
            %td= @item.size
          %tr
            %th 商品の状態
            %td= @item.condition
          %tr
            %th 配送料の負担
            %td=@item.postage.name
          %tr
            %th 発送元の地域
            %td
              = link_to @item.prefecture.name, "#", class: "detail-link"
          %tr
            %th 発送日の目安
            %td= @item.day.name
    .item-box__options
      %button{type: "submit", class:'like-btn'}
        = icon('fas', 'star', class: 'detail-icon')
        お気に入り
      %button{type: "submit", class:'claim-btn'}
        = icon('fas', 'flag', class: 'detail-icon')
        不適切な商品の通報
  .comment-box
    .new-comment
    %textarea
      :preserve
    .notice 
      相手のことを考え丁寧なコメントを心がけましょう。
      %br
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %button{type: "submit", class:'comment-btn'}
      = icon('fas', 'comment', class: 'detail-icon')
      コメントする
  %ul.itemslink
    %li.detail-link < 前の商品
    %li.detail-link 後ろの商品 >
  .category-relation
    = link_to "ベビー・キッズをもっと見る", "#", class: "category-link"